@model ContactModel
<!-- contact-form -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-head">
                        <h2 class="head-title">Liên hệ với chúng tôi</h2>
                    </div>
                    <div class="box-body contact-form">
                        <div class="row">
                            <form id="contactForm" asp-action="Contact" asp-controller="Menu" method="post">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" asp-for="@Model.Name"></label>
                                        <input id="name" type="text" asp-for="@Model.Name"  placeholder="Họ và tên" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" asp-for="@Model.Email"></label>
                                        <input id="email" type="text" asp-for="@Model.Email" placeholder="Điền địa chỉ email" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" asp-for="@Model.Message"></label>
                                        <textarea class="form-control" id="message" asp-for="@Model.Message" rows="4" placeholder="Chi tiết"></textarea>
                                    </div>
                                    <button type="submit" name="singlebutton" class="btn btn-primary">Gửi</button>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.contact-form -->
            <!-- address-block -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-head">
                        <h2 class="head-title">Thông tin liên hệ</h2>
                    </div>
                    <div class="box-body">
                        <div class="contact-block">
                            <h4>Địa chỉ</h4>
                            <p>Phường 7,Tô hiệu, Thành Phố Đà Lạt Lâm Đồng</p>
                        </div>
                        <div class="contact-block">
                            <h4>Đường dây nóng</h4>
                            <p class="mb0">Phone: <span class="text-default">084-123-4567 / 98</span></p>
                            <p class="mb0">Email: <span class="text-default">nhomlaker@gmail.com</span></p>
                        </div>
                        <div class="contact-block">
                            <h4>Liên kết</h4>
                            <div class="ft-social">
                                <span><a href="#" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></span>
                                <span><a href="#" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></span>
                                <span><a href="#" class="btn-social btn-googleplus"><i class="fa fa-google-plus"></i></a></span>
                                <span><a href="#" class=" btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a></span>
                                <span><a href="#" class=" btn-social btn-pinterest"><i class="fa fa-pinterest-p"></i></a></span>
                                <span><a href="#" class=" btn-social btn-instagram"><i class="fa fa-instagram"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.address-block -->
        </div>
    </div>
</div>