@model IEnumerable<Phone>

@{
    ViewBag.Title = "Điện Thoại";
    var sortOrder = ViewBag.SortOrder as string;
    var pageNumber = ViewBag.PageNumber as int? ?? 1;
    var pageSize = ViewBag.PageSize as int? ?? 6;
}
<!-- product-list -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- sidenav-section -->
                <div id='cssmenu'>
                    <ul>
                        <li class='has-sub'>
                            <a href='#'>Hệ điều hành</a>
                            <ul>

                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Android</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">ISO</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'>Hãng sản xuất</a>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả </span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Samsung</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Apple</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Xiaomi</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Vsmart</span>
                                    </label>
                                    </span>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">OPPO</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Vivo</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Nokia</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Huawei</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'>Giá Bán</a>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 2 triệu</span>
                                    </label>
                                </li>
                                <li>
                                    <span>
                                        <label>
                                            <input type="checkbox">
                                            <span class="checkbox-list">Từ 2 - 5 triệu</span>
                                        </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Từ 5 - 10 triệu</span>
                                    </label>
                                </li>

                                <li>
                                    <span>
                                        <label>
                                            <input type="checkbox">
                                            <span class="checkbox-list">Từ 10 - 15 triệu</span>
                                        </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 15 triệu</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'>Màn hình</a>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 5.0 inch</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 6.0 inch</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'>Bộ nhớ trong</a>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 32GB</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">64GB và 128GB</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">256GB và 512GB</span>
                                    </label>
                                </li>

                                <li>
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 512GB</span>
                                    </label>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sort by Price Ascending</a> -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb10 alignright">
                        <form id="sortForm" method="get" action="@Url.Action("dienthoai")">
                            <div class="select-option form-group">
                                <select name="sortOrder" class="form-control" onchange="document.getElementById('sortForm').submit();">
                                    <option value="" default>Sắp xếp theo</option>
                                    <option value="price_asc">Giá Thấp</option>
                                    <option value="price_desc">Giá Cao</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- product -->
                     @foreach (var phone in Model)
                        {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                       
                            <a href="@Url.Action("Details", "Home", new { id = phone.Id })">
                                <div class="product-block">
                                    <div class="product-img"> <img src="data:image/png;base64,@phone.ImageBase64" alt="Post Image" class="img-fluid" /></div>
                                    <div class="product-content">
                                        <h5>
                                            <a href="#" class="product-title">
                                                @phone.Name <strong>
                                                    (@phone.Manufacturer)
                                                </strong>
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">@phone.Price</a>

                                            <span class="offer-price">10%off</span>
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <a href="#" class="product-btn btn-cart">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        
                    </div>
                    }
                    <!-- /.product -->
                </div>
                <div class="row">
                    <!-- pagination start -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="st-pagination">
                            <ul class="pagination">
                                <li>
                                    <a href="@Url.Action("dienthoai", new { sortOrder = sortOrder, pageNumber = pageNumber - 1, pageSize = pageSize })" class="btn btn-primary"><i class="fa fa-angle-left" style="font-size: 16px;"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="@Url.Action("dienthoai", new { sortOrder = sortOrder, pageNumber = pageNumber + 1, pageSize = pageSize })" class="btn btn-primary"><i class="fa fa-angle-right" style="font-size: 16px;"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- pagination close -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.product-list -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/WebAPI/js/jquery.min.js" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/WebAPI/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/WebAPI/js/menumaker.js" type="text/javascript"></script>
<script type="text/javascript" src="~/WebAPI/js/jquery.sticky.js"></script>

<script type="text/javascript" src="~/WebAPI/js/sticky-header.js"></script>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            $('#cssmenu ul ul li:odd').addClass('odd');
            $('#cssmenu ul ul li:even').addClass('even');
            $('#cssmenu > ul > li > a').click(function () {
                $('#cssmenu li').removeClass('active');
                $(this).closest('li').addClass('active');
                var checkElement = $(this).next();
                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    $(this).closest('li').removeClass('active');
                    checkElement.slideUp('normal');
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    $('#cssmenu ul ul:visible').slideUp('normal');
                    checkElement.slideDown('normal');
                }
                if ($(this).closest('li').find('ul').children().length == 0) {
                    return true;
                } else {
                    return false;
                }
            });
        });
    })(jQuery);
</script>