@model IEnumerable<MVC.Models.Phone>

<div class="slider">
    <div class="owl-carousel owl-one owl-theme">
        <div class="item">
            <div class="slider-img">
                <img src="~/WebAPI/images/slider_1.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-6 col-xs-12">
                        <div class="slider-captions">
                            <div class="brand-img">
                                <img src="~/WebAPI/images/mi_logo.png" alt="">
                            </div>
                            <h1 class="slider-title">Red Mi <span>Y1</span></h1>
                            <p class="hidden-xs">LED Selfie-light | Fingerprint sensor | Dedicated microSD card slot Snapdragon 435 octa-core processor </p>
                            <p class="slider-price">$138.99 </p>
                            <a href="cart.html" class="btn btn-primary btn-lg hidden-xs">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/WebAPI/images/slider_2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-6 col-xs-12">
                        <div class="slider-captions">
                            <div class="brand-img">
                                <img src="~/WebAPI/images/google_logo.png" alt="">
                            </div>
                            <h1 class="slider-title">Google Pixel 2</h1>
                            <p class="hidden-xs">The latest Qualcomm Snapdragon 835 processor | Water-resistant metal unibody | Up to 7 hours of battery.</p>
                            <p class="slider-price">$ 938.10</p>
                            <a href="cart.html" class="btn btn-primary btn-lg hidden-xs">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/WebAPI/images/slider_3.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-6 col-xs-12">
                        <div class="slider-captions">
                            <div class="brand-img">
                                <img src="~/WebAPI/images/apple_logo.png" alt="">
                            </div>
                            <h1 class="slider-title">iphone 8 plus  </h1>
                            <p class="hidden-xs">
                                5.5 inch Retina HD Display | 12MP wide-angle cameras
                                <br> | 64 GB &amp; 256 GB ROM Memory
                            </p>
                            <p class="slider-price">$759.64</p>
                            <a href="cart.html" class="btn btn-primary btn-lg hidden-xs">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.slider -->
<!-- mobile showcase -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="showcase-block">
                    <div class="display-logo ">
                        <a href="#"> <img src="~/WebAPI/images/nexus.png" alt=""></a>
                    </div>
                    <div class="showcase-img">
                        <a href="#"> <img src="~/WebAPI/images/display_img_1.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="showcase-block active">
                    <div class="display-logo alignleft">
                        <a href="#">
                            <img src="~/WebAPI/images/iphone.png" alt="">
                        </a>
                    </div>
                    <div class="showcase-img">
                        <a href="#"> <img src="~/WebAPI/images/display_img_2.png" alt="" style="padding-left: 80px;"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="showcase-block ">
                    <div class="display-logo ">
                        <a href="#">
                            <img src="~/WebAPI/images/samsung.png" alt="">
                        </a>
                    </div>
                    <div class="showcase-img">
                        <a href="#"><img src="~/WebAPI/images/display_img_3.png" alt="">                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="showcase-block">
                    <div class="display-logo ">
                        <a href="#"><img src="~/WebAPI/images/htc.png" alt=""></a>
                    </div>
                    <div class="showcase-img">
                        <a href="#"><img src="~/WebAPI/images/display_img_4.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="showcase-block">
                    <div class="display-logo">
                        <a href="#">  <img src="~/WebAPI/images/alcatel.png" alt=""></a>
                    </div>
                    <div class="showcase-img">
                        <a href="#">
                            <img src="~/WebAPI/images/display_img_5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="showcase-block">
                    <div class="display-logo ">
                        <a href="#"><img src="~/WebAPI/images/pixel.png" alt=""></a>
                    </div>
                    <div class="showcase-img">
                        <a href="#">    <img src="~/WebAPI/images/display_img_6.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="showcase-block">
                    <div class="display-logo ">
                        <a href="#">  <img src="~/WebAPI/images/vivo.png" alt=""></a>
                    </div>
                    <div class="showcase-img">
                        <a href="#"><img src="~/WebAPI/images/display_img_7.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.mobile showcase -->
<!-- latest products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Sản phẩm mới nhất</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        @foreach (var phone in Model)
                        {
                            <a href="@Url.Action("Details", "Home", new { id = phone.Id })">
                                <!-- product -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-block">
                                        <div class="product-img">
                                            <img src="data:image/png;base64,@phone.ImageBase64" alt="Post Image" class="img-fluid" />
                                        </div>
                                        <div class="product-content">
                                            <h5><a href="@Url.Action("Details", "Home", new { id = phone.Id })" class="product-title">@phone.Name <strong>(@phone.Manufacturer)</strong></a></h5>
                                            <div class="product-meta">
                                                <a href="#" class="discounted-price">@phone.Price</a>
                                                <span class="offer-price">20% off</span>
                                            </div>
                                            <div class="shopping-btn">
                                                <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                                <a href="#" class="product-btn btn-cart" ><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                            @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin@admin.com")
                                            {
                                                <div class="admin-btn">
                                                    <a href="@Url.Action("Edit", new { id = phone.Id })" class="btn btn-primary">Edit</a>
                                                    <form asp-action="Delete" asp-route-id="@phone.Id" method="post" style="display:inline;">
                                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this phone?')">Delete</button>
                                                    </form>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- /.product -->
                            </a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.latest products -->
<!-- seller products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Bán Chạy Nhất</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-carousel">
        <div class="box-body">
            <div class="row">
                <div class="owl-carousel owl-two owl-theme">
                    <!-- product -->
                    <div class="item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_5.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Apple iPhone 6 <strong>(32 GB, Gold)</strong></a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1700</a>
                                        <a href="#" class="discounted-price">$2000</a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <!-- product -->
                    <div class="item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_6.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Apple iPhone 7 <strong>(256 GB, Black)</strong> </a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1400</a>
                                        <a href="#" class="discounted-price"><strike>$1800</strike></a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.product -->
                    <!-- product -->
                    <div class="item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_7.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Apple iPhone 6S <strong>(32GB, Gold)</strong> </a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1300</a>
                                        <a href="#" class="discounted-price"><strike>$2000</strike></a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.product -->
                    <!-- product -->
                    <div class="item">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_8.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Apple iPhone X <strong>(64 GB, Grey)</strong></a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1200</a>
                                        <a href="#" class="discounted-price"><strike>$2000</strike></a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.seller products -->
<!-- featured products -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-head">
                    <h3 class="head-title">Đang khuyến mãi</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <!-- product -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_3.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Samsung Galaxy Note 8</a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1500</a>
                                        <a href="#" class="discounted-price"><strike>$2000</strike></a>
                                        <span class="offer-price">40%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                        <!-- product -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_4.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Vivo V5 Plus <strong>(Matte Black)</strong></a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1500</a>
                                        <a href="#" class="discounted-price"><strike>$2000</strike></a>
                                        <span class="offer-price">15%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                        <!-- product -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_1.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">Google Pixel <strong>(128GB, Black)</strong></a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1100</a>
                                        <a href="#" class="discounted-price"><strike>$1400</strike></a>
                                        <span class="offer-price">20%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                        <!-- product -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-block">
                                <div class="product-img"><img src="~/WebAPI/images/product_img_2.png" alt=""></div>
                                <div class="product-content">
                                    <h5><a href="#" class="product-title">HTC U Ultra <strong>(64GB, Blue)</strong></a></h5>
                                    <div class="product-meta">
                                        <a href="#" class="product-price">$1200</a>
                                        <a href="#" class="discounted-price"><strike>$1700</strike></a>
                                        <span class="offer-price">10%off</span>
                                    </div>
                                    <div class="shopping-btn">
                                        <a href="#" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
